<div class='container-fluid animate__animated animate__backInUp mt-3'>

	<div class='row'>
		<div class='col-sm-12 text-center'>
			<h1 class='text-white'> Contador </h1>
		</div>
		<div class='col-sm-12 text-center text-white'>
			<button class="btn btn-info btn-group-lg" [routerLink]='["/github"]'
				[attr.title]='"Quantidade atual de repositorios: " + totalRepos + " e organizações " + totalOrgs'>
				GitHub
			</button>
		</div>
	</div>

	<div class='row my-2'>
		<div class='col-sm-12 text-center'>
			<input placeholder='0' [(ngModel)]='number' />
		</div>
		<div class='col-sm-12 mt-2 d-flex justify-content-center'>
			<span class='col-sm-2 d-flex justify-content-around'>
				<button class='btn btn-sm btn-success' (click)='increment()'>
					<i class='fas fa-plus'></i>
				</button>
				<button class='btn btn-sm btn-danger' (click)='decrement()'>
					<i class='fas fa-minus'></i>
				</button>
				<button class='btn btn-sm btn-primary' (click)='reset()'>
					<i class='fas fa-trash'></i>
				</button>
			</span>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-12 text-center'>
			<h1 class='text-white'> {{ count$ | async }} </h1>
		</div>
	</div>

</div>
